Django
South
django-annoying
PIL
textile
django-tinymce

-e git+git://github.com/dorosh/django-filebrowser-no-grappelli-for-django13.git#egg=django-filebrowser
-e git+git://github.com/tstone/django-uploadify#egg=django-uploadify
