{% load markup %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="ru"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/static/blog/css/style.css">
  <script src="/static/blog/js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <a href="{% url main %}" class="left_logo"></a>
        <a href="{% url blog %}" class="main_logo"></a>
    </header>
    <section class="content">
        <article>
            <aside>
                <h1>{{ blog_post.title }}</h1>
                <i>{{ blog_post.short_description }}</i>
            </aside>
            <div class="news_data full">
                <p>{{ blog_post.text|textile }}</p>
            </div>
        </article>
    </section>

</div>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/blog/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
  <script src="/static/blog/js/script.js"></script>
</body>
</html>
