{% load flatpages %}{% load markup %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/mediaelementplayer.css"> 
  <!-- end CSS-->

  <script src="/static/js/libs/modernizr-2.0.6.min.js"></script>
</head>
<body>
{% get_flatpages as flatpages %}
<div id="container">
    <header>
        <a class="logo" href="#"></a>        
             <span>This project name</span>
             <nav>
                <a href="#" class="first jsaction" rel="porfolio">portfolio</a>
		{% for page in flatpages %}
                <a href="#" rel="{{ page.title }}" class="jsaction">{{ page.title }}</a>
		{% endfor %}
		<a href="{% url blog %}">backstage</a>
             </nav>
    </header>
    <div class="contwr">
        <div id="slider1">
	  {% for image in images %}
	  {% if image.is_video %}
           <div class="data" data-type="video">         
                <video width="885" height="485" controls="controls" preload="none">
		  {% for item in image.videoformat_set.all %}
                    <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
		    {% if item.video_format == 'video/mp4' %}
                    <source type="video/mp4" src="media/echo-hereweare.mp4" />
		    {% endif %}
		    {% if item.video_format == 'video/webm' %}
                    <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
                    <source type="video/webm" src="media/echo-hereweare.webm" />
		    {% endif %}
		    {% if item.video_format == 'video/ogg' %}
                    <!-- Ogg/Vorbis for older Firefox and Opera versions -->
                    <source type="video/ogg" src="media/echo-hereweare.ogv" />
		    {% endif %}
                    <!-- Flash fallback for non-HTML5 browsers without JavaScript -->
                    <object width="320" height="240" type="application/x-shockwave-flash" data="flashmediaelement.swf">
                        <param name="movie" value="flashmediaelement.swf" />
                        <param name="flashvars" value="controls=true&file=echo-media/hereweare.mp4" />
                        <!-- Image as a last resort -->
                    </object>
		    {% endfor %}
                </video>
	  {% else %}
	  <div class="data" data-type="img">
	    <img src="{{ image.image.url }}"  width="885px" height="485px"/>
	    {% endif %}
	  </div>
	  {% endfor %}
        </div>
           <div class="thumbs">
	     {% for image in images %}
             <a href="" data-type="{% if image.is_video %}video{% else %}img{% endif %}">
	       <img src="{{ image.image.url }}" width="70" height="70" />
	     </a>
	     {% endfor %}
           </div>
        <div class="controll">   
            <a id="start" href=""></a>
            <a id="stop" href=""  onclick="clearTimeout(timer)"></a>
            <span>sort: <a href="#" id="img">images</a> or <a href="#" id="vid">video</a></span>
            <span class="rght">All images are protected by copyright ©Matthias Schlief | <a href="#">Impressum</a></span>
        </div>
	{% for page in flatpages %}
        <div class="hide_my {{ page.title }}">
	  {{ page.content|textile }}
        </div>
        {% endfor %}
        <div class="porfolio hide_my">
            <ul>
	      {% for gallery in galleries %}
	      <li><a href="{% url gallery gallery.id %}">{{ gallery.title }}</a></li>
	      {% endfor %}
            </ul>
            <a href="#" class="close"></a>
        </div>
  </div> <!--! end of #container -->
</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="/static/js/plugins.js"></script>
  <script defer src="/static/js/script.js"></script>
  <script defer src="/static/js/mylibs/jquery.bxSlider.min.js"></script>
  <script src="/static/js/mediaelement-and-player.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/static/js/jquery.mousewheel.min.js"></script>
  <script src="/static/js/jquery.mCustomScrollbar.js"></script>
	
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>
